@import "variables";

%btn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.btn-primary {
  @extend %btn;
  background-color: $redColor;
}

.btn-secondary {
  @extend %btn;
  background-color: lighten($orangeColor, 30%);
}
